.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.drag-drop-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.column-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  flex-shrink: 0;
}
.column-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.column-body {
  min-height: 100px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}
.draggable {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 5px;
  margin-bottom: 10px;
}
.dropzone {
  background-color: #ddd;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.card {
  margin-bottom: 10px;
  border: 1px solid salmon;
  padding: 4px 8px;
}
